extends base.pug
block extra_css
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='/public/admin.css')
block content
    main(role='main')
        .container
            br
            table#tableOrders
                thead
                    tr
                        th
                        th Id
                        th Order
                        th Date
                        th Client
                        th Payment Method
                        th Total
                tfoot
                    tr
                        th
                        th Id
                        th Order
                        th Date
                        th Client
                        th Payment Method
                        th Total
    footer.container
        p.float-right
        a(href='#') TOP
        .row
            | Todo los Derechos Reservados. AnimalHouse
block extra_js
    script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script. 
        (function(){
            var Admin = {
                data : {
                    info: [],
                },
                init : function(){
                    console.log("starting");
                    Admin.index();
                },
                index: function(){
                    fetch('http://localhost:3000/carritoFech')
                        .then(function(respuesta) {
                            return respuesta.json();                        
                        })
                        .then(function(j) {
                            console.log(j);
                            if(j != null){
                                Admin.render(j)
                            }
                        });
                },
                render: function(j){
                    var table = $('#tableOrders').DataTable({
                        "data": j,
                        select:"single",
                        "columns": [
                            {
                                "className": 'details-control',
                                "orderable": false,
                                "data": null,
                                "defaultContent": '',
                                "render": function () {
                                    return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                                },
                                width:"15px"
                            },
                            { "data": "id" },
                            { "data": "order" },
                            { "data": "date" },
                            { "data": "userName" },
                            { "data": "payment" },
                            { "data": "total" }
                
                        ],
                        "order": [[1, 'desc']]
                    });
                    
                    // Add event listener for opening and closing details
                    $('#tableOrders tbody').on('click', 'td.details-control', function () {
                
                    
                        var tr = $(this).closest('tr');
                        var tdi = tr.find("i.fa");
                        var row = table.row(tr);
                
                        if ( row.child.isShown() ) {
                            // This row is already open - close it
                            row.child.hide();
                                tr.removeClass('shown');
                                tdi.first().removeClass('fa-minus-square');
                                tdi.first().addClass('fa-plus-square');
                        }
                        else {
                            // Open this row
                            row.child(Admin.formatTable(row.data())).show();
                            tr.addClass('shown');
                            tdi.first().removeClass('fa-plus-square');
                            tdi.first().addClass('fa-minus-square');
                        }
                    } );
                },
                formatTable : function(d){
                    return `<table> 
                        <tr> 
                            <td>Client:</td> 
                            <td> ${d.userName} </td> 
                        </tr> 
                        <tr> 
                            <td>E-mail:</td> 
                            <td> ${d.userEmail} </td> 
                        </tr> 
                        <tr> 
                            <td>Ceular:</td> 
                            <td> ${d.userPhone} </td> 
                        </tr> 
                        <tr> 
                            <td>Direccion</td> 
                            <td> ${d.userAddress} </td> 
                        </tr> 
                        <tr> 
                            <td>Year:</td> 
                            <td> ${d.year} </td> 
                        </tr> 
                            <td>Date:</td> 
                            <td>${d.date} </td> 
                        </tr> 
                        <tr> 
                            <td>Hour:</td> 
                            <td>${d.hour} </td> 
                        </tr> 
                        <tr> 
                            <td>Payment Method:</td> 
                            <td>${d.payment} </td> 
                        </tr> 
                        <tr> 
                            <td>Order:</td> 
                            <td>${d.order} </td> 
                        </tr> 
                        <tr> 
                            <td>Id:</td> 
                            <td> ${d.id} </td> 
                        </tr> 
                        <tr> 
                            <td>Total:</td> 
                            <td> ${d.total} </td> 
                        </tr> 
                        <tr> 
                            <td>Products:</td> 
                            <td>${d.products.map(function(producto){
                                    return `<ul >
                                            <li>Product: ${producto.name} </li>
                                            <li>Price: ${producto.price } </li>
                                        </ul>`;
                                })}
                            </td>
                        </tr> 
                        </table>`;  
                }
            };
            Admin.init();
        })();